.content
  .new_header
    <ユーザー新規登録2>
  .main-profile
    .main-profile__member-info
      %h2.main-profile__member-info__title 会員情報入力
      .main-profile__member-info__title__input
        .main-profile__member-info__title__input__content1
          = form_with url: profiles_path do |f|
            .profile-content1
              %label.profile-content__name お名前
              %span.form-group__require 必須
              %br
              = f.text_field :family_name, class: 'family_name-text', placeholder: '例）亀山'
              = f.text_field :first_name, class: 'first_name-text', placeholder: '例）武真'
            .profile-content2
              %label.profile-content__name-kana お名前カナ
              %span.form-group__require 必須
              %br
              = f.text_field :family_name_kana, class: 'family_name-kana-text', placeholder: '例）カメヤマ'
              = f.text_field :first_name_kana, class: 'first_name-kana-text', placeholder: '例）タケマサ'
            .profile-content3
              %label.profile-content__birth_day 生年月日
              %span.form-group__require 必須
              %br
              != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'XXXXX', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
            .main-profile__member-info__title__input__content2
              = f.submit '次へ', class: 'btn-next' 
