.content
  .new_header
    =render 'items/top_page_header'
  .main-login
    .login-contents
      .login-form
        = form_with model: @user,url: user_session_path, local: true do |f|
          = render 'devise/shared/error_messages', model: f.object
          .mail-content
            .login-flash-message
              = flash[:notice]
              = flash[:alert]
            = f.email_field :email, autofocus: true, class: 'e-mail-text', placeholder: 'メールアドレス'
          .password-content
            = f.password_field :password, autocomplete: "off", class: 'password-text', placeholder: 'パスワード'
          .login-content
            = f.submit 'ログイン', class: 'login-btn' 
  .new_footer
    =render 'items/top_page_footer'