.toppage_header
  =render 'items/top_page_header'

  .toppage_main

    .serch-header
      .headerInner

    .main-visual
      .main-visual__content
        %h2.main-visual__content__subtitle
          %br
            人生を変えるフリマアプリ
        %p.main-visual__content__text
          フリマは誰でも簡単に購入できる
          %br
            フリマアプリです
        .main-visual__content__btn
          .app-btn
            = link_to '#' do
              %a
                = image_tag src="/app-store.svg",class:"btn"
          .google-btn
            = link_to '#' do
              %a
                = image_tag src="/google-play.svg",class:"btn"

    .topIntroduction
      %h2.subtitle
        フリマが選ばれる三つの理由
      %ul.lists
        %li.list1
          .list__pict
            %span.number
              1
            = image_tag src="/pict-reason-01.jpg", class: 'pic'
          %h3.list__text
            %span.text
              3分
            ですぐに出品
          %p.description
            スマホで入力するだけで簡単に出品できる！
        %li.list2
          .list__pict
            %span.number
              2
            = image_tag src="/pict-reason-02.jpg", class: 'pic'
          %h3.list__text
            %span.text
              シンプル
            で使いやすい
          %p.description
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.list3
          .list__pict
            %span.number
              3
            = image_tag src="/pict-reason-03.jpg", class: 'pic'
          %h3.list__text
            手数料
            %span.text
              業界最安
          %p.description
            最大3%でお得に出品＆購入！

    .topMiddle
      .topMiddle__inner
        %h2.topMiddle__inner__subtitle
          会員数日本一位
        %p.topMiddle__inner__text
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .topMiddle__inner__btn
          .app-btn
            = link_to '#' do
              %a
                = image_tag src="/app-store.svg",class:"btn"
          .google-btn
            = link_to '#' do
              %a
                = image_tag src="/google-play.svg",class:"btn"

    .topFeatures
      %h2.head
        FURIMAの特徴
      .items
        %section.item
          %figure.item__img
            = image_tag src="/icon-01.png", class: 'icon'
          %h3.item__subtitle
            簡単に売り買いできる
          %p.item__detail
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %section.item
          %figure.item__img
            = image_tag src="/icon-02.png", class: 'icon'
          %h3.item__subtitle
            売上金は即日振込みに対応
          %p.item__detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします
        %section.item
          %figure.item__img
            = image_tag src="/icon-03.png", class: 'icon'
          %h3.item__subtitle
            様々な支払いに対応
          %p.item__detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.wrapper
  .pickup-category
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to "#", class: "product__new" do
          %h3.title 新規投稿商品
      .productLists
        - @items.each do |item|
          = link_to item_path(item.id) do
            .item
              - if item.user_id.present? && item.buyer_id.present?
                .pickup_category__containerCategory__product--lists__list__status
                  = "Sold_out"
              %figure.image
                - item.item_imgs.first(1).each do |image|
                  = image_tag "#{image.src}", class: "productList-img"
              .produ_productList-body
                %h3.item__name
                  =item.name
                .item__datails
                  %ul.datails__menu
                    %li
                      = "#{item.price.to_s(:delimited)}円"
                    %li ★
                %p.pickup_category__taxIncluded (税込)
.wrapper
  .pickup_brand__containerBrand
    %h2.pickup_brand__containerBrand__title
      ピックアップブランド
    .pickup_brand__item
      .pickup_brand__item__head
        = link_to '#', class: "pickup-brand__items__head" do
          %h3.pickup_brand__head Christian Dior
      .pickup_brand__containerBrand__item--lists
        .pickup_brand__containerBrand__item--lists__list
          %figure.pickup_brand__item__images
            = image_tag "https://static.mercdn.net/item/detail/orig/photos/m69199789239_1.jpg?1585451120", alt: "image_url", class:"pickup_brand__item__images--image"
          .pickup_brand__containerBrand__item--lists__list__body
            %h3.pickup_brand__item--name
              ショルダーバック レザー ピンク レディース
            .pickup_brand__containerBrand__item--lists__list__body__details
              %ul.pickup_brand__details__menu
                %li
                  ="8,600円"
                %li ★
            %p.pickup_brand__taxIncluded (税込)
        .pickup_brand__containerBrand__item--lists__list
          %figure.pickup_brand__item__images
            = image_tag "https://wwws.dior.com/couture/ecommerce/media/catalog/product/cache/1/cover_image_1/870x580/17f82f742ffe127f42dca9de82fb58b1/C/A/1544518182_CAL44550_N0_E01_ZHC.jpg", alt: "image_url", class:"pickup_brand__product__images--image", alt: "image_url", class:"pickup_brand__item__images--image"
          .pickup_brand__containerBrand__item--lists__list__body
            %h3.pickup_brand__item--name
              ラムスキン "Lady Dior" バッグ
            .pickup_brand__containerBrand__item--lists__list__body__details
              %ul.pickup_brand__details__menu
                %li
                  = "528,000円"
                %li ★
            %p.pickup_brand__taxIncluded (税込)
        .pickup_brand__containerBrand__item--lists__list
          %figure.pickup_brand__item__images
            = image_tag "https://www.dior.com/beauty/version-5.1563986503612/resize-image/ep/3000/2000/90/0/MISSDIOR_2019%252F01_Covers%252FY0782210_F078222009_E01_ZHC.jpg", alt: "image_url", class:"pickup_brand__product__images--image", alt: "image_url", class:"pickup_brand__item__images--image"
          .pickup_brand__containerBrand__item--lists__list__body
            %h3.pickup_brand__item--name
              ミス ディオール アブソリュートリー ブルーミング
            .pickup_brand__containerBrand__item--lists__list__body__details
              %ul.pickup_brand__details__menu
                %li
                  ="8,800円"
                %li ★
            %p.pickup_brand__taxIncluded (税込)
%aside.appBanner__top
  .inner
    %h2.inner__title
      誰でも簡単、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .inner__icon
      .app-btn
        = link_to '#' do
          %a
            = image_tag src="/app-store.svg",class:"btn"
      .google-btn
        = link_to '#' do
          %a
            = image_tag src="/google-play.svg",class:"btn"

.footer
  =render 'items/top_page_footer'

.display
  = link_to new_item_path do
    .purchaseBtn
      %span.purchaseBtn__text
        出品する
        = image_tag src="icon_camera.png", class: 'purchaseBtn-icon'

