.log-in_header
  .search-pcheader
    .headerInner
      .mainHeader
        .icon
          = link_to "#" do
            = image_tag src="/logo.png",size:"140x41"
        .searchBox
          キーワードから探す
        .searchBtn
          = link_to "#" do
            %i.fas.fa-search
      .nav
        .listsleft
          %ul
            .listsleft_items1
              = link_to "#" do
                カテゴリー
              .listsleft_items2
                = link_to "#" do
                  ブランド
        .listsright
          %ul
            .listsright_login
              = link_to "#" do
                ログイン
              .listsright_new
                = link_to "#" do
                  新規登録