.log-in_header
  .search-pcheader
    .headerInner
      .mainHeader
        .icon
          = link_to "/" do
            = image_tag src="/logo.png",size:"140x41"
        .searchBox
          = form_tag(search_path,:method => 'get') do
            = text_field_tag :search,:キーワードから探す
            = button_tag type: 'submit', class: "searchBtn" do
              = icon("fas","search") 
          
        -# .searchBtn
        -#   = link_to "#" do
        -#     %i.fas.fa-search
      .nav
        .listsleft
          .listsleft_items1
            = link_to "categories" do
              カテゴリー
            .listsleft_items2
              = link_to "#" do
                ブランド
        .listsright
          .listsright_login
            = link_to "/users/sign_in" do
              ログイン
            .listsright_new
              = link_to new_user_registration_path do
                新規登録