.footer
  .contents
    %ul
    .content
      %li
      .content_head
      %h2
        FURIMAについて
        %ul
          %li
            = link_to '#' do
              %a5
                会社概要（運営会社）
          %li
            = link_to '#' do
              %a5
                プライバシーポリシー
          %li
            = link_to '#' do
              %a5
                FURIMA利用規約
          %li
            = link_to '#' do
              %a5
                ポイントに関する特約
    .content
      %li
      .content_head
      %h2
        FURIMAを見る
        %ul
          %li
            = link_to '#' do
              %a5
                カテゴリー一覧
          %li
            = link_to '#' do
              %a5
                ブランド一覧
    .content
      %li
      .content_head
      %h2
        ヘルプ＆ガイド
        %ul
          %li
            = link_to '#' do
              %a5
                FURIMAガイド
          %li
            = link_to '#' do
              %a5
                FURIMAロゴ利用ガイドライン
          %li
            = link_to '#' do
              %a5
                お知らせ
  .footer_logo
    = link_to '#' do
      %p
        = image_tag src="/logo-white.png",size:"185x49"
        .footer_company_name
          %h10
            © FURIMA, Inc.
            