.header
  =render 'items/top_page_header'

  .items_new_page
    .items_register_form
      = form_with model: @item, html: {class: "items_form"}, local: true do |f|
        .form_section
          %label(for="item_img")
            出品画像
          %span.form-group__require
            必須
          .image-attend
            クリックで最大10枚まで貼れます。
          .clearfix
            .previews_box
              #image-box
                #previews
                  - if @item.persisted?
                    - @item.item_imgs.each_with_index do |image, i|
                      = f.label :item_imgs_attributes_0_src, data: { index: i }, width: "100", height: '100'
                = f.fields_for :item_imgs do |i|
                  .js-file_group{data: {index:i.index }}
                    = i.file_field :src, class: 'js-file'
                    = f.label :item_imgs_attributes_0_src, class: 'Form__inputImage' do
                      = icon('fas', 'camera', class: 'Form__icon')
                    %br/
                    %span.js-remove 削除
                    
                    -# = f.file_field :camera, class: 'Hidden'
                    %br/
                    -# %span.js-remove 削除
              
                  -#   - @item.item_imgs.each_with_index do |image, i|
                  -#     = f.label :item_imgs_attributes_0_src, class:'image-box', data: { index: i }, width: "100", height: '100'
                  -# = f.fields_for :item_imgs do |i|
                  -#   .js-file_group{data: {index:i.index }}
                  -#     = i.file_field :src, class: 'js-file'
                  -#     %br/
                  -#     %span.js-remove 削除
        .form_section
          %label(for="name")
            商品名
          %span.form-group__require
            必須
          %br
            = f.text_field :name, placeholder: "40文字まで", value: "", class: "input-default"
          %br/
          %label(for="introduction")
            商品の説明
          %span.form-group__require
            必須
          %br
          = f.text_area :introduction, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）                                                             例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", value: "", class: "input-default"
          %br/
          %label(for="category_id")
            カテゴリー
          %span.form-group__require
            必須
          %br
          = f.collection_select :category_id, Category.roots, :id,:name, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
          %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
          %br/
          %br
          .listing-product-detail__category
          %br/
          %label(for="brand_id")
            ブランド
          %span.form-group__require
            必須
          %br
          = f.collection_select :brand_id, Brand.all, :id, :name, {include_blank: "選択して下さい"}, {class: ""}
          %br/
          %label(for="size")
            サイズ(重量:g)
          %span.form-group__require
            必須
          %br
          .value_register_form
          = f.text_field :size, placeholder: "1000", value: "", class: "input-default"
          %br/
          %label(for="item_condition")
            商品の状態
          %span.form-group__require
            必須
          %br
          = f.collection_select :item_condition_id, ItemCondition.all, :id, :name, {include_blank: "選択して下さい"}, {class: ""}
        .form_section
          %label(for="postage_payer")
            配送料の負担
          %span.form-group__require
            必須
          %br
          = f.collection_select :postage_payer_id, PostagePayer.all, :id, :name, {include_blank: "選択して下さい"}, {class: ""}
          %label(for="prefecture_code")
            発送元の地域
          %span.form-group__require
            必須
          %br
          = f.collection_select :prefecture_code_id, PrefectureCode.all, :id, :name, {include_blank: "選択して下さい"}, {class: ""}
          %label(for="preparation_day")
            発送までの日数
          %span.form-group__require
            必須
          = f.collection_select :preparation_day_id, PreparationDay.all, :id, :name, {include_blank: "選択して下さい"}, {class: ""}
        .form_section
          %label(for="price")
            販売価格
          %span.form-group__require
            必須
          %br
          .value_register_form
            ¥
          = f.text_field :price, placeholder: "1000", value: "", class: "input-default"
          -# %input(class="value_form" type="number" name="item[price]" id="item_price")/
          %br/
          .product_price-fee
            販売手数料(10%)
          .product_profit
            販売利益
        .form_section
          .register_btn
            -# .register_btn__exhibition
            -#   = link_to '出品する', item_path(@item.id)
            %input(type="submit" name="commit" value="出品する" class="register_btn__exhibition")/
        .attentions
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律
          により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

.footer
  =render 'items/top_page_footer'
