.item_purchase_main
  .item_purchase_logo_box
    .item_purchase_logo_box_logo
      = link_to '/' do
        = image_tag src="/logo.png",size:"185x49"
  .item_purchase_main_box
    .item_purchase_main_box_area
      .item_purchase_main_box_area_title
        %h2
          購入内容の確認
      .item_purchase_main_box_area_itemInfo
        .item_purchase_main_box_area_itemInfo_box
          .item_img
            = image_tag @item.item_imgs[0].src.url,size:"80x80"
          .item_info_box
            .item_name
              %h1
                =@item.name
                .item_price
                  %p
                    .postage
                      %span
                        送料込み（税込）
                    .price
                      %span
                        ￥
                        =@item.price.to_s(:delimited)
      .item_purchase_main_box_area_payment_amount
        .payment_amount
          .payment_amount_title
            %span
              支払い金額
          .payment_amount_price
            %span
              ¥
              =@item.price.to_s(:delimited)
        .point_area
          = image_tag src="/logo.png",size:"48x14"
          .point_area2
            %span
              ポイント
            .possession_points
              %p
                所持ポイント：P0
      .item_purchase_main_box_area_payment_method
        .payment_method_title
          .payment_method_title-left
            支払い方法
          .payment_method_registration
            - if @card.present?
              %br/
              クレジットカード
              %br/
              = "**** **** **** " + @creditcard_information[:last4]
              %br/
              - mm = @creditcard_information.exp_month.to_s
              - yy = @creditcard_information.exp_year.to_s.slice(2,3)
              = mm + " / " + yy
              %figure.products-purchase-buy-card-logo
              = image_tag "logo/#{@card_src}", height: '33', width: '46', alt: @card_brand, id: "card_image"
            - else
              = link_to new_card_path do
                %h3
                  登録してください
      .item_purchase_main_box_area_shipping_address
        .shipping_address_title
          .shipping_address_title_data
            配送先
        .shipping_address_registration
          %p
            %br
            =@user.sending_destination.post_code
            -# %br
            -# =@user.sending_destination.prefecture_code
            -# %br
            =@user.sending_destination.city
            =@user.sending_destination.house_number
            =@user.sending_destination.building_name
            %br
            =@user.sending_destination.phone_number
            %br
            =@user.sending_destination.family_name
            =@user.sending_destination.first_name

          -# = link_to items_shipping_address_path do
          -#   %h3
          -#     登録してください
      .item_purchase_main_box_area_purchase_area
        .purchase_area
          .purchase_btn
            = form_tag(action: :purchase, method: :post) do
              %button.buy-button{type:"submit"} 購入する
                      
  .item_purchase_space
  .item_purchase_footer
    .precautions
      .precautions1
        = link_to '#' do
          %h6
            プライバシーポリシー
      .precautions2
        = link_to '#' do
          %h6
            フリマ利用規約
      .precautions3
        = link_to '#' do
          %h6
            特定商取引に関する表記
    .item_purchase_footer_logo_box
      .item_purchase_footer_logo_box_logo
        = link_to '#' do
          %b
            = image_tag src="/logo-white.png",size:"185x49"
            .company_name
              %h1
                © FURIMA, Inc.