.shipping_address_main
  .shipping_address_logo_box
    .shipping_address_logo_box_logo
      = link_to '#' do
        = image_tag src="/logo.png",size:"185x49"
  .shipping_address_main_box
    .shipping_address_main_box_area
      .shipping_address_main_box_area_title
        %h2
          発送元・お届け先住所入力
      .shipping_address_main_box_area_form
        .shipping_address_main_box_area_content
          .form_group
            .form_name
              お名前
            .form_require
              %span
                必須
          .input_default
            例）山田
          .input_default
            例）彩
          .form_group2
            .form_name2
              お名前カナ
            .form_require
              %span
                必須
          .input_default
            例）ヤマダ
          .input_default
            例）アヤ
          .form_group3
            .form_name3
              郵便番号
            .form_require
              %span
                必須
          .input_default
            例）123-4567
          .form_group3
            .form_name3
              都道府県
            .form_require
              %span
                必須
          .input_default
            北海道
          .form_group3
            .form_name3
              市区町村
            .form_require
              %span
                必須
          .input_default
            例）横浜市緑区
          .form_group3
            .form_name4
              番地
            .form_require
              %span
                必須
          .input_default
            例）青山1-1-1
          .form_group3
            .form_name
              建物名
            .form_require2
              %span
                任意
          .input_default
            例）柳ビル103
          .form_group3
            .form_name4
              電話
            .form_require2
              %span
                任意
          .input_default
            例）09012345678
          .form_group_btn
            .input_default_btn
              = link_to '#' do
                登録する
  .item_purchase_space
  .item_purchase_footer
    .precautions
      .precautions1
        = link_to '#' do
          %h6
            プライバシーポリシー
      .precautions2
        = link_to '#' do
          %h6
            フリマ利用規約
      .precautions3
        = link_to '#' do
          %h6
            特定商取引に関する表記
    .item_purchase_footer_logo_box
      .item_purchase_footer_logo_box_logo
        = link_to '#' do
          %p
            = image_tag src="/logo-white.png",size:"185x49"
            .company_name
              %h1
                © FURIMA, Inc.